<!-- My Hangouts -->
		  <div class="content" id="myChats">
		  	<% unless current_user != @profile.user %>
		  	<div class="text-center row">
		  		<div style="padding: 2em;" class="center big-bottom large-12 columns">
		  			<h3>Schedule a New Conversation for 
		  			<button href="#" data-dropdown="languages" aria-controls="drop1" aria-expanded="false" class="button dropdown success round">Select Language</button><br>
					<ul id="languages" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
						<% unless @following_languages.present? %>
							<li><%= link_to "Follow a language to start", languages_path %></li>
						<% else %>
						<% @following_languages.each do |language| %>
					  <li><%= link_to language.name, new_language_hangout_path(language) %></li>
					  <% end %>
					  <% end %>
					</ul></h3>
		  		</div>
		  		<button href="#" data-dropdown="sort" aria-controls="drop1" aria-expanded="false" class="button dropdown tiny round">Sort</button><br>
					<ul id="sort" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
					  <li><%= link_to 'Active', profile_path(@user.profile, :controller => "hangouts", :active=> true) %></li>
					  <li><%= link_to 'Old', profile_path(@user.profile, :archived => true) %></li>
					  <li><%= link_to 'Live', profile_path(@user.profile, :live => true)%></li>
					</ul>
		  	</div>
		  	<% end %>

		  	<% unless @user_hangouts.present? %>
		  		<div class="text-center">
			  			<% if current_user == @profile.user %>
			  			<h3>You don't have any chats.</h3>
			  			<p>Start by adding one with the button above.</p>
			  			<% else %>
			  			<h3><%=@profile.user.username %> doesn't have any active or public chats right now.</h3>
						<% end %>
			  		</div>
		  	<% else %>
		    <div class="row">
			  <div id="pins" class="transitions-enabled small-12 medium-10 large-6">
				<%= render partial: 'hangouts/hangout_pins', locals: { hangouts: @user_hangouts } %>
				</div>
			</div>
			<% end %>
		</div>