      <div class="chat-panel box text-center">
        <div class="chat-title">
          <h5><%= hangout.name %></h5>
        </div>
        <div class="chat-time">
          <div class="row">
            <div class="large-12 columns">
              <div class="row">
                <div class="large-6 columns">
                  <p><%= hangout.start_time.strftime("%b %e, '%y - %I:%M%P") %></p>
                </div>
                <div class="large-4 columns">
                  <p><i class="fi-clock"></i> <%= chat_length(hangout.start_time, hangout.end_time) %></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="chat-description">
          <p><%= hangout.description %></p>
          <div class="host">
            <%= link_to( image_tag(hangout.user.avatar.url(:thumb)), profile_path(hangout.user)) %>
            <p><%= link_to hangout.user.username, profile_path(hangout.user) %></p>
            <% if ( user_signed_in? && hangout.user == current_user) || ( user_signed_in? && current_user.admin? ) %>
            <%= link_to edit_language_hangout_path(language, hangout), title: "Edit" do %>
              <span class="left-margin"><i class="fi-pencil"></i></span>
            <% end %>
            <%= link_to language_hangout_path(language, hangout), title: "Delete", method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="left-margin"><i class="fi-x"></i></span>
              </p>
            <% end %>
          <% end %>
          </div>
          <br>
          
        </div>
        <div class="chat-buttons">
          <ul>
            <% if is_live(hangout.start_time, hangout.end_time) %>
            <li class="chat"><%= link_to 'Join', language_hangout_path(language, hangout), class: "chat-button-big" %></li>
            <% else %>
              <li class="chat"><div id="<%= 'rsvp-submit' + hangout.id.to_s %>">
                <%= render partial: 'rsvps/rsvp_hangout', locals: { language: language, hangout: hangout } %>
              </div></li>
            <% end %>
            <li class="chat"></i><%= link_to language_hangout_path(language, hangout), class: "chat-button" do %>
              <i class="fi-torsos"></i> 23
              <% end %></li>
          </ul>
          
        </div>
      </div>