<div class="text-center profile-head">
	<%= image_tag(@user.avatar.url(:medium)) %>
	<h2><%= @profile.user.username %></h2>
	<p class='user-bio'><%= @profile.user.bio %></p>
	<div class="user-level">
	</div>
	<p class="sub-text"><%= @profile.user.location %></p>
	<a href="#" data-reveal-id="followerModal">Followers <%= @user.followers_by_type_count('User') %></a>, <a href="#" data-reveal-id="followingModal">Following <%= @user.following_by_type_count('User') %></a>
	<br>
	<% if user_signed_in? && current_user == @profile.user %>
	<%= link_to edit_user_registration_path do %>
	<i class="fi-widget"></i> Settings
	<% end %>
	<% else %>
		<% unless current_user.following?(@profile.user) %>
			<%= link_to 'Follow', follows_path(id: @profile), method: :post, id:"follow-submit", class: "button small round tiny" %>
		<% else %>
			<%= link_to 'Unfollow', follow_path(id: @profile), method: :delete, class: 'button small round secondary tiny' %>
		<% end %>
	<% end %>
</div>

<div class="row">
	<div class="small-12 medium-12 large-12">
		<%= render partial: 'profiles/tabs', locals: {user: @user} %>
	</div>
</div>

<div id="followingModal" class="reveal-modal medium" data-reveal>
	<%= render 'profiles/following' %>
  <a class="close-reveal-modal">&#215;</a>
</div>

</div>

<div id="followerModal" class="reveal-modal medium" data-reveal>
	<%= render 'profiles/followers' %>
  <a class="close-reveal-modal">&#215;</a>
</div>