<h1>Here's your profile</h1>
<h2><%= @profile.user.username %></h2>
<%= link_to 'Profile', @profile %>
<% if user_signed_in? && current_user.id == @profile.user_id %>
<%= link_to 'Your Settings', edit_user_registration_path %>
<% end %>

<%= @rsvp.hangout.language.id %>

<br>

<% @languages = Language.all %>
<% i = 1 %>
<% while i <= @languages.length do %>
	<% @language = Language.find(i) %>
		<% @user_rsvps.each do |rsvp| %>
			<% if Hangout.where(language_id: i) && Rsvp.where(rsvped_id: rsvp).exists? %>
				<%= link_to 'RSVPed', language_hangout_path(i, rsvp.rsvped_id) %>
			<% end %>
		<% end %>
		<% i += 1 %>
	<% end %>