<div class="text-center profile-head">
	<%= image_tag(@user.avatar.url(:medium)) %>
	<h2><%= @profile.user.username %></h2>
	<a href="#" data-reveal-id="followerModal">Followers <%= @user.followers_by_type_count('User') %></a>, <a href="#" data-reveal-id="followingModal">Following <%= @user.following_by_type_count('User') %></a>
	<br>
	<% if user_signed_in? && current_user == @profile.user %>
	<%= link_to edit_user_registration_path do %>
	<i class="fi-widget"></i> Settings
	<% end %>
	<% else %>
		<% unless current_user.following?(@profile.user) %>
			<%= link_to 'Follow', follows_path(id: @profile), method: :post, id:"follow-submit", class: "button small round tiny" %>
		<% else %>
			<%= link_to 'Unfollow', follow_path(id: @profile), method: :delete, class: 'button small round secondary tiny' %>
		<% end %>
	<% end %>
</div>

<div class="row">
	<div class="small-12 medium-12 large-12">
		<dl class="tabs" data-tab>
		  <dd class="active"><a href="#panel1">My Scheduled Chats</a></dd>
		  <dd><a href="#panel2">My Chats</a></dd>
		</dl>
		<div class="tabs-content">
		  <div class="content active" id="panel1">
		    <div class="row">
			  <div id="pins" class="transitions-enabled small-12 medium-10 large-6">
				<% @rsvps.each do |rsvp| %>
					<% unless rsvp.rsvped.end_time.to_s <= Time.now.to_s %>
					<%= render partial: 'profiles/rsvped_hangouts', locals: {language: rsvp.rsvped.language.id, hangout: rsvp.rsvped } %>
					<% end %>
				<% end %>
				</div>
			</div>
		  </div>
		  <div class="content" id="panel2">
		    <div class="row">
			  <div id="pins" class="transitions-enabled small-12 medium-10 large-6">
				<% @user_hangouts.each do |hangout| %>
					<%= render partial: 'profiles/rsvped_hangouts', locals: {language: hangout.language.id, hangout: hangout } %>
				<% end %>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="followingModal" class="reveal-modal tiny" data-reveal>
	<%= render 'profiles/following' %>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="followerModal" class="reveal-modal tiny" data-reveal>
	<%= render 'profiles/followers' %>
  <a class="close-reveal-modal">&#215;</a>
</div>