<div class="text-center profile-head">
	<% if current_user.admin? %>
	<div class="large-3 panel center"><%= User.all.count %> Users</div><% end %>
	<%= image_tag(@user.avatar.url(:medium)) %>
	<h2><%= @profile.user.username %></h2>
	<p class='user-bio'><%= @profile.user.bio %></p>
	<div class="user-level">
	</div>
	<p class="sub-text"><%= @profile.user.location %></p>
	<a href="#" data-reveal-id="followerModal">Followers <%= @user.followers_by_type_count('User') %></a>, <a id="numero1" href="#" data-reveal-id="followingModal">Following <%= @user.following_by_type_count('User') %></a>
	<br>
	<% if user_signed_in? && current_user == @profile.user %>
	<%= link_to edit_user_registration_path do %>
		<i id="firstStop" class="fi-widget"></i> Settings
	<% end %>
	<% else %>
			<%= render partial: 'follows/user_follow', locals: { user: @profile.user } %>
	<% end %>
</div>

<div class="row">
	<div class="small-12 medium-12 large-12">
		<%= render partial: 'profiles/tabs', locals: {user: @user} %>
	</div>
</div>

<div id="followingModal" class="reveal-modal medium" data-reveal>
	<%= render 'profiles/following' %>
  <a class="close-reveal-modal">&#215;</a>
</div>

</div>

<div id="followerModal" class="reveal-modal medium" data-reveal>
	<%= render 'profiles/followers' %>
  <a class="close-reveal-modal">&#215;</a>
</div>

<%= render 'profiles/tour' %>
<%= render 'profiles/tour_js' %>