<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.username %>,</p>
    <p>
      A chat in <%= @language %> has been scheduled to start on: <%= @start_time.strftime("%B %d, %Y - %l:%M%p") %>.
    </p>
    <p>
      If you can make it, RSVP at this link: <%= link_to @language + " Chat - " + @hangout.name, "http://alpha.fluentli.com/languages/#{@hangout.language.id}/hangouts/#{@hangout.id}" %>.
    </p>
    <p>Have fun!</p>
    <p>Nate | Founder at <a href="http://alpha.fluentli.com">Fluentli</a></p>
    <p>PS - You're getting this because you follow <%= link_to @language, "http://alpha.fluentli.com/languages?following=true" %> and the user, <%= link_to @owner.username, "http://alpha.fluentli.com/profiles/#{@owner.id}" %>.</p>
  </body>
</html>