<div class="row panel small-12 medium-10 large-6">
    <%= form_for(@language) do |f| %>
      <% if @language.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@language.errors.count, "error") %> prohibited this language from being saved:</h2>

          <ul>
          <% @language.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.text_field :name, placeholder: "Enter a new language" %>
      </div>

      <div class="actions">
        <%= f.submit class: "button success" %>
      </div>
    <% end %>
</div>
