<% unless user_signed_in? %>
<%= render 'layouts/welcome' %>
<% else %>
  <div class="small-12 medium-12 large-12 columns">

    <h1>Choose a Language</h1>
    
    <div class="panel callout radius">
      <p class="lead">What language do you want to practice?</p>
    </div>
    <%if user_signed_in? && current_user.admin? %><%= link_to 'New Language', new_language_path, class: "button small round success right" %><% end %>
  </div>

    <div class="row">
      <div id="pins" class="transitions-enabled small-12 medium-12 large-12">
        <% @languages.each do |language| %>
        <div class="box panel text-center">
          <% unless current_user.following?(language) %>
            <%= link_to 'Follow', languagefollows_path(id: language), method: :post, id:"follow-submit", class: "button small round tiny" %>
          <% else %>
            <%= link_to 'Unfollow', languagefollow_path(id: language), method: :delete, class: "button small round secondary tiny" %>
          <% end %>

          <h3><%= language.name %></h3>
          <div class="top-margin">
            <%= link_to 'Practice', language_hangouts_path(language), class: "button small round success" %>
          </div>
        </div>
        <% end %>
      
      </div>
    </div>

  <% end %>