<% unless user_signed_in? %>
<%= render 'layouts/welcome' %>
<% else %>
  <div class="small-12 medium-12 large-12 columns text-center">

    <h1>Choose a Language</h1>
    
    <p>Browse languages below or click the <i class="fi-star"></i> to get updates about those languages.</p>
    <button href="#" data-dropdown="sort" aria-controls="drop1" aria-expanded="false" class="button dropdown tiny round">Sort</button><br>
          <ul id="sort" data-dropdown-content class="f-dropdown" aria-hidden="true" tabindex="-1">
            <li><%= link_to 'All', languages_path %></li>
            <li><%= link_to 'Following', languages_path(:following=> true) %></li>
          </ul>
    <%if user_signed_in? && current_user.admin? %><%= link_to 'New Language', new_language_path, class: "button small round success" %><% end %>
  </div>

    <div class="row">
      <div id="pins" class="transitions-enabled small-12 medium-12 large-12">
        <% @languages.each do |language| %>
        <div class="box language-panel text-center">
         <h3> <% unless current_user.following?(language) %>
            <%= link_to languagefollows_path(id: language), method: :post, id:"follow-submit", class: "follow-star", title: 'Follow' do %>
              <i class="fi-star"></i>
              <% end %>
            <% else %>
              <%= link_to languagefollow_path(id: language), method: :delete, class: "following-star", title: 'Following' do %>
              <i class="fi-star"></i>
              <% end %>
            <% end %>
          <%= language.name %></h3>
          <div class="row">
            <p class="language"><a href="#" data-reveal-id="followersModal<%=language.id%>"><i class="fi-torsos-all"></i> <%= language.followers_count %> Follower<%= if language.followers_count  > 1 || language.followers_count == 0 then "s" end %></a></p>

            <%= render partial: "languages/language_followers", locals: {language: language } %>
            
          </div>
          <div class="row">
            <p class="language"><%= link_to language_hangouts_path(language, :scheduled => true) do %>
              <i class="fi-calendar"></i> <%= scheduled_hangout_count(language) %> Future Chat<%= if scheduled_hangout_count(language) > 1 || scheduled_hangout_count(language) == 0 then "s" end %>
              <% end %></p>
          </div>
          <div class="row">
            <p class="language"><%= link_to language_hangouts_path(language, :live => true) do %>
              <i class="fi-play"></i> <%= live_hangout_count(language) %> Live Chat<%= if live_hangout_count(language) > 1 || live_hangout_count(language) == 0 then "s" end %>
              <% end %></p>
          </div>
          <br>
          
          <div class="language-buttons">
            <%= link_to 'Browse', language_hangouts_path(language), class: "language-button" %>
          </div>
        </div>

        <% end %>
      
      </div>
    </div>

  <% end %>