<div class="row chat-buffer mt pt">
    <div id="posts">
      <div class="posts-list">
        <% if @posts.empty? && @hangout.end_time.to_s <= Time.zone.now.to_s %>
          <h3>Sadface. This chat ended without any messages.</h3>
        <% elsif @hangout.start_time.to_s > Time.zone.now.to_s %>
        <div class="chat-panel" style="min-height: 100px; text-align: center; max-width: 60%; margin: 0 auto; overflow: hidden">
          <div class="chat-title"><h5>This conversation hasn't started.</h5></div>
          <div class="chat-description">
            <p>If you can make it to this chat, make sure you've clicked 'RSVP' below. If you see the "<i class="fi-check"></i>" you can find this chat on your <%= link_to 'profile', profile_path(current_user.profile) %>.</p>
          </div>
          <div class="chat-buttons">
            <ul>
              <li class="chat"><div id="<%= 'rsvp-submit' + hangout.id.to_s %>">
                  <%= render partial: 'rsvps/rsvp_hangout', locals: { language: hangout.language, hangout: hangout } %>
                </div>
              </li>
              <li class="chat">
              <div id="<%= 'rsvp-count' + hangout.id.to_s %>">
                <a class="chat-button" href="#" data-reveal-id="chatMembers<%= hangout.id %>"><i class="fi-torsos"></i> <%= rsvp_count(hangout) %></a>
              </div>
            </li>
            </ul>
          </div>
        </div>
        <% else %>
        <table style="width: 100%;" id="rooms-list"></table>
        <%= render @posts.reverse %>
        <%= render 'posts/video_chat' %>
        <% end %>
      </div>
    </div>
  </div>
  
      <div class="top-pad fixed-to-bottom">
        <% unless user_signed_in? %>
        <div class="text-center">
          <h6 class="subheader" style="color: white;">To join this conversation, you need to 'Sign In.'</h6>
            <%= link_to 'Sign In', new_user_session_path, class: "button success" %>
          </div>
        <% else %>
          <% if @hangout.end_time.to_s <= Time.zone.now.to_s %>
          <%= render partial: "posts/past_hangout" %>
          <% elsif @hangout.start_time.to_s > Time.zone.now.to_s %>
          <div class="text-center">
            <p style="color:white">This conversation hasn't started yet. Come back on:</p>
            <p style="color:white; font-weight: 700"><%= @hangout.start_time.strftime("%b %e, '%y - %I:%M%P") %><p>
            </div>
          <% else %>
          <%= render partial: "posts/new" %>
          <% end %>
        <% end %>
      </div>
  
    <div id="tagModal" class="reveal-modal small" data-reveal>
      <h4>Tag Cloud</h4>
        <% unless Tag.counts_with_hangout(@hangout.id) != 0 %>
          <p>There are no tags to display.</p>
        <% else %>
          <%= render partial: 'posts/tag_cloud', locals: { hangout: @hangout } %>
        <% end %>
      <a class="close-reveal-modal">&#215;</a>
    </div>

    <div id="chatMembers<%= hangout.id %>" class="reveal-modal" data-reveal>
        <%= render partial: 'hangouts/chat_members', locals: { hangout: @hangout, user: @hangout.user } %>
        <a class="close-reveal-modal">&#215;</a>
    </div>