<%= div_for post do %>
  <div class="large-12 columns border border-box glassy-bg mt pt">
    <strong><%= link_to post.user.username, profile_path(post.user.profile) %></strong>
    <% unless current_user.following?(post.user) %>
      <% unless current_user == post.user %>
        <%= link_to 'Follow', follows_path(id: post.user), method: :post, id:"follow-submit", class: "button small success round tiny right" %>
      <% end %>
    <% else %>
      <%= link_to 'Following', follow_path(id: post.user), method: :delete, class: 'button small round secondary tiny right' %>
    <% end %>
    <br />
    <sup class="text-muted">From <%= time_ago_in_words(post.created_at)%></sup><br />
    <div class="mb pb">
      <%= h(post.content) %>
    </div>

    <div class="tags">
      <%=raw tag_links(post.all_tags) %>
    </div>
    
  </div>
<% end %>