
  
    <%= form_for [@language, @hangout] do |f| %>
      <% if @hangout.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@hangout.errors.count, "error") %> prohibited this hangout from being saved:</h2>

          <ul>
          <% @hangout.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.text_field :name, placeholder: "Title (What do you want to talk about?)" %>
      </div>

      <div class="field">
        <%= f.text_area :description, placeholder: "Description" %>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <div class="field">
          <%= f.label :start_time %><br>
          <%= f.text_field :start_time, {class: "large-2 columns ", id: "date_timepicker_start"} %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <div class="field">
          <%= f.label :end_time %><br>
          <%= f.text_field :end_time, {class: "large-2 columns", :id => 'date_timepicker_end'} %>
          </div>
        </div>
      </div>

      <div class="switch round">Make this <span data-tooltip aria-haspopup="true" class="has-tip" title="This will not be listed publicly. Only people with the link can join.">private?</span><br>
          <%= f.check_box :private %>
          <%= f.label :private %>
        </div>
        <br>
        <br>

      <div class="actions">
        <%= f.submit 'Start Conversation', class: "button success" %><br><%= link_to 'Cancel', language_hangouts_path, class: "button alert small" %>
      </div>
    <% end %>

<script type="text/javascript">
jQuery(function(){
 jQuery('#date_timepicker_start').datetimepicker({
  format:'Y-m-d',
  onShow:function( ct ){
   this.setOptions({
    maxDate:jQuery('#date_timepicker_end').val()?jQuery('#date_timepicker_end').val():false
   })
  },
  timepicker:false
 });
 jQuery('#date_timepicker_end').datetimepicker({
  format:'Y-m-d',
  onShow:function( ct ){
   this.setOptions({
    minDate:jQuery('#date_timepicker_start').val()?jQuery('#date_timepicker_start').val():false
   })
  },
  timepicker:false
 });
});

</script>
  