<div class="row">
  <div id="pins" class="transitions-enabled small-12 medium-10 large-6">
    <% hangouts.each do |hangout| %>
      <div class="chat-panel box text-center">
        <div class="chat-title">
          <h5><%= hangout.name %></h5>
        </div>
        <div class="chat-time">
          <div class="row">
            <div class="large-12 columns">
              <div class="row">
                <% if is_live(hangout.start_time, hangout.end_time) %>
                  <div class="large-2 columns">
                    <span class="label round alert">LIVE</span>
                  </div>
                  <div class="large-6 columns">
                    <p><i class="fi-clock"></i> Ends in <%= time_to_end(hangout.end_time) %></p>
                  </div>                  
                  <% else %>
                  <div class="large-6 columns">
                    <p><%= hangout.start_time.strftime("%b %e, '%y - %I:%M%P") %></p>
                  </div>
                  <div class="large-4 columns">
                  <p><i class="fi-clock"></i> <%= chat_length(hangout.start_time, hangout.end_time) %></p>
                  </div>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="chat-description">
          <p><%= hangout.description %></p>
          <div class="host">
            <%= link_to( image_tag(hangout.user.avatar.url(:thumb)), profile_path(hangout.user)) %>
            <p><%= link_to hangout.user.username, profile_path(hangout.user) %></p>
            <% if ( user_signed_in? && hangout.user == current_user) || ( user_signed_in? && current_user.admin? ) %>
            <%= link_to edit_language_hangout_path(hangout.language, hangout), title: "Edit" do %>
              <span class="left-margin"><i class="fi-pencil"></i></span>
            <% end %>
            <%= link_to language_hangout_path(hangout.language, hangout), title: "Delete", method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="left-margin"><i class="fi-x"></i></span>
              </p>
            <% end %>
          <% end %>
          </div>
          <br>
          
        </div>
        <div class="chat-buttons">
          <ul>
            <% if is_live(hangout.start_time, hangout.end_time) %>
            <li class="chat"><%= link_to 'Join', language_hangout_path(hangout.language, hangout), class: "chat-button-big" %></li>
            <% elsif is_planned(hangout.start_time) %>
              <li class="chat"><div id="<%= 'rsvp-submit' + hangout.id.to_s %>">
                <%= render partial: 'rsvps/rsvp_hangout', locals: { language: hangout.language, hangout: hangout } %>
              </div></li>
            <% else %>
              <li class="chat"><%= link_to 'View', language_hangout_path(hangout.language, hangout), class: "chat-button-big" %></li>
            <% end %>
            <li class="chat"><div id="<%= 'rsvp-count' + hangout.id.to_s %>"><%= link_to language_hangout_path(hangout.language, hangout), class: "chat-button" do %>
              <i class="fi-torsos"></i> <%= rsvp_count(hangout) %>
              <% end %></div></li>
          </ul>
          
        </div>
      </div>
    <% end %>
  </div>
</div>
