<h1>Listing hangouts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @hangouts.each do |hangout| %>
      <tr>
        <td><%= hangout.name %></td>
        <td><%= link_to 'Show', language_hangout_path(@language, hangout) %></td>
        <td><%= link_to 'Edit', edit_language_hangout_path(@language, hangout) %></td>
        <td><%= link_to 'Destroy', language_hangout_path(@language, hangout), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hangout', new_language_hangout_path(@language, @hangout) %>
