<div class="row">
  <div class="small-12 medium-12 large-12">
    <h1>Join a Conversation About <%= @language.name.capitalize %></h1>

      <%= link_to 'New Conversation', new_language_hangout_path(@language, @hangout), class: "button" %>
  </div>
</div>

    <% @hangouts.each do |hangout| %>
      <div class="row panel box">
        <div class="small-12 medium-12 large-12">
        <%= hangout.name %>
        <%= link_to 'Show', language_hangout_path(@language, hangout) %>
        <%= link_to 'Edit', edit_language_hangout_path(@language, hangout) %>
        <%= link_to 'Destroy', language_hangout_path(@language, hangout), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
     
    <% end %>
<br>

