<div class="row text-center">
  <div class="small-12 medium-12 large-12">
    <h1>Join a Conversation About <%= @language.name.capitalize %></h1>

      <%= link_to 'New Conversation', new_language_hangout_path(@language, @hangout), class: "button" %>
  </div>
</div>
<div class="row">
  <div id="pins" class="transitions-enabled small-12 medium-10 large-6">
    <% @hangouts.each do |hangout| %>
      <div class="panel box text-center">
        <h6><%= hangout.name %></h6>
        <br>
        <%= link_to 'Join this chat', language_hangout_path(@language, hangout), class: "button success small round" %>
        <br>
        <% if user_signed_in? && current_user.admin? %>
        <%= link_to 'Edit', edit_language_hangout_path(@language, hangout) %> | 
        <%= link_to 'Delete', language_hangout_path(@language, hangout), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
     
    <% end %>
  </div>
</div>
<br>

