<div class="row">
  <div class="small-12 medium-12 large-12 columns">
	<p id="notice"><%= notice %></p>

	<h2><%= @hangout.name %></h2>
  </div>
</div>

<%= render partial: 'posts/index', locals: {language: @language, hangout: @hangout} %>

<%= link_to 'Edit', edit_language_hangout_path(@language, @hangout) %> |
<%= link_to 'Back', language_hangouts_path(@language) %>
