<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hangout.name %>
</p>

<%= render partial: 'posts/index', locals: {language: @language, hangout: @hangout} %>

<%= link_to 'Edit', edit_language_hangout_path(@language, @hangout) %> |
<%= link_to 'Back', language_hangouts_path(@language) %>
