<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @hangout.name %>
</p>

<p>
  <strong>Language:</strong>
  <%= @hangout.language_id %>
</p>

<p>
  <strong>Private:</strong>
  <%= @hangout.private %>
</p>

<%= link_to 'Edit', edit_language_hangout_path(@language, @hangout) %> |
<%= link_to 'Back', language_hangouts_path(@language) %>
