<nav class="top-bar foundation-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
     <h1 class="show-for-small-only"><%= link_to 'fluentli conversations', root_path %></h1>
     <h1 class="show-for-medium-only"><%= link_to 'fluentli conversations', root_path %></h1>
     <h1 class="show-for-large-only"><%= link_to 'fluentli conversations', root_path %></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li><%= link_to 'Find a Conversation', languages_path %></li>
      <li><a  href="#">About</a></li>
      <% if user_signed_in? %>
        <li><%= link_to 'Sign Out', destroy_user_session_path , method: 'delete' %></li>
        <li><%= link_to 'Profile', edit_user_registration_path %></li>
      <% else %>
        <li><%= link_to 'Sign Up', new_user_registration_path %></li>
        <li><%= link_to 'Sign In', new_user_session_path %></li>
      <% end %>
    </ul>
  </section>
</nav>