<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "fluentli conversations - Chat for Language Learners" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script src="//load.sumome.com/" data-sumo-site-id="48cd5e959444a9481e1023e2fd6737309d68b6eec30f06bf3d929b8808b54e96" async></script>
  </head>

  <body>
    <%= render 'layouts/messages' %>

    <% unless current_page?(root_path) %>
    <%= render 'layouts/menu' %>
    <% end %>

    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>